# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
env/

# FastAPI / Uvicorn logs
*.log

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

# Node / Frontend
node_modules/
dist/

# VS Code
.vscode/
.history/

# Env files / secrets
.env
.env.*

# Coverage / reports
.coverage
coverage.xml
htmlcov/

# Cache
.cache/
**/.pytest_cache/

# Build
build/

.github/
docs/